	@font-face {
		font-family: Ebihara;
		src: url(../files/EbiharaNoKuseji.ttf);
	}

	h1 {
		font-size: 3em;
		text-align: center;
	}

	body {
		background-color: #f8f9fa;
		margin: 0;
		padding: 0;
		font-family: Ebihara;
	}

	#title {
		background-color: #f8f9fa;
		height: 7em;
		width: 100%;
		position: absolute;
		top: 0px;
	}

	#toolbar {
		background-color: #424040;
		height: 3.5em;
		position: sticky;
		top: 0;
		z-index: 1;
		color: #f8f9fa;
		font-weight: bold;
		font-size: 1.2em;
	}

	#toolbar a {
		display: inline-block;
		height: 100%;
		color: #f8f9fa;
		text-decoration: none;
		list-style-type: none;
	}

	#toolbar li {
		display: inline-block;
		padding-left: 1.5em;
		height: 100%;
		padding-left: 0.5em;
		padding-right: 0.5em;
	
	}
	
	#toolbar a:first-of-type {
		margin-left: 8em;
	}

	li a {
		height: 100%;
		text-decoration: none;
		color: #f8f9fa;
	}

	#toolbar li:hover {
		transition-duration: 0.6s;
		background-color: #f8f9fa;
		color: #333333;
	}

	main {
		/*background-color: cornflowerblue;*/
		position: relative;
		top: 3em;

	}

	.display-div {
		margin-top: 2em;
		background-color: #333333;
		display: inline-block;
		width: 32em;
		height: 35em;
		margin-left: 1em;
	}

	.display-div:first-of-type {
		margin-left: 15em;
		margin-right: 2em;
	}

	.display-div h2 {
		text-align: center;
		background-color: #333333;
		position: relative;
		top: -0.85em;
		height: 2em;
		color: #f8f9fa;
	}

	.display-box {
		vertical-align: top;
		background-color: #f8f9fa;
		height: 15em;
		width: 15em;
		display: inline-block;
		position: relative;
		top: -1.7em;
		margin-top: 0.5em;
		margin-left: 0.5em;
	}

	footer {
		background-color: #424040;
		position: absolute;
		left: 0px;
		bottom: -100%;
		width: 100%;
		color: #f8f9fa;
		text-align: center;
	}

	#layer1{
		background-color: #333333;
	}
	#layer1 img{
		height: 30em;
		margin-left: 5em;
	}
		#layer1 *{
			display: inline;
			color: #f8f9fa;
		}

		#layer1 h2 {
			position: absolute;
			top: 0em;
			margin-left: 5em;
			font-size: 3em;
		}

		#layer1 p {
			position: absolute;
			top: 5em;
			margin-left: 0.5em;
			font-size: 1.2em;
		}

		#layer1 .btn {
			position: absolute;
			top: 13em;
			left: 50%;
			width: 12em;
			height: 3.2em;
			color: black;
			background-color: #f8f9fa;
			border-radius: 20em;
			text-align: center;
		}

			#layer1 .btn:hover {
				transition-duration: 0.6s;
				background-color: #d9cee4;
				color: black;
				font-weight: bold;
			}