html,body
{
	/*background-image: url("http://localhost:345/Valkiryn2/Valkiryn/images/night.jpg");*/
	background-color: white;
	height: 100%;
	overflow-x:hidden;
	
}

main
{
	height: 99%;
	margin-left:15%;
	margin-right:15%;
	background-color: lightgrey;
}

h1
{
	position: absolute;
	left: 5%;
	top:0%;
	color: white;
	z-index: 250;
}

form.not(#add-pp)
{
	position: absolute;
	top: 30%;
	left:33%;
	width: 30%;
}

#add-pp{
	position: absolute;
	top: 80%;
	left: 25%;
	width: 30%;
	
}

#content-1{
	position: absolute;
	top:30%;
	left: 25%;
}

fieldset
{
	background-color: rgba(255, 255, 255, .5);;
}

nav{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	background-color: #5a5255;
	height: 5em;
}


/*nav pages*/
#nav-pages
{
	position: relative;
	left: 30%;
	top: -25%;
	height: 5em;
}

#nav-pages li
{
	display: inline;
	width: 5em;
}

#nav-pages a
{
	color: white;
	padding-bottom: 2em;
	text-decoration: none;
	padding-left: 1.7em;
	background-color: #5a5255;
	font-weight: bold;
	font-size: 1.5em;
}

#nav-pages a:hover
{
	background-color: white;
	color: #5a5255;
}

/* nav account details */
#nav-account-details
{
	position: relative;
	top: -140%;
	left:85%;
	height: 5em;
}

#nav-account-details li
{
	display: inline;
	
}

#nav-account-details img
{
	height: 75%;
	width: 4.5%;	
}

#nav-account-details li{
	display: inline;
}

#nav-profile-box-div
{
	display: none;
	background-color: white;
	border: solid 1px black;
	width:20%;
	
	position: absolute;
	top: 5em;
	right:0px;
}

